/* = = = = = Others = = = = =*/

:root {
  --interactive-color: #2196f3;
  --description-color: #757575;
  --label-color: #212121;
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  --secondary-main-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link-stylization {
  text-decoration: none;
}

.list-stylization {
  list-style-type: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-padding {
  padding-top: 94px;
  padding-bottom: 94px;
}

.suptitle {
  margin-bottom: 50px;
}

/* = = = = = Header = = = = =*/

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  align-items: center;
  display: flex;
}

.navigator-list-wrapper {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: var(--secondary-font), sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000;

  margin-right: 92px;
}

.logo-span {
  color: #2196f3;
}

.navigator-list-item {
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigator-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-item.current {
  color: var(--interactive-color);
}

.nav-item {
  color: var(--label-color);
}

/* .header-contacts > a {
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--description-color);
} */

.tel-link {
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--description-color);
}

.mail-link {
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--description-color);

  margin-left: auto;
  margin-right: 50px;
}

/* = = = = =  Hero section = = = = = */

.main-section {
  display: flex;
  background-color: #2f303a;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title {
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-main-color);
}

.main-section > button {
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--secondary-main-color);
  background: var(--interactive-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  /* width: 200px; */
  align-self: center;

  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-top: 30px;
}

/*  = = = = = = VALUES SECTION = = = = = = */

.values-section {
  background: #e5e5e5;
}

.values-list-wrapper {
  display: flex;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}

.value-list {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.values-list-wrapper h3 {
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--label-color);
  margin-bottom: 10px;
}

.values-list-wrapper p {
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--description-color);
}

/* = = = = = = What We Do Section = = = = = = */

.what-we-do-section {
  background: #e5e5e5;
}

.what-we-do-list-wrapper {
  display: flex;
}
.what-we-do-list-wrapper > li:not(:last-child) {
  margin-right: 30px;
}

.what-we-do-list-wrapper > li {
  flex-basis: calc((100% - 90) / 3);
}

.what-we-do-title {
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--label-color);
}

/*  = = = = = Team Section = = = = = */

.our-team-title {
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--label-color);
}

.team-images-list-wrapper {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.team-image-list {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section > h2 {
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--label-color);
}

.team-section h3 {
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--label-color);

  margin-bottom: 10px;
}

.team-section p {
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--description-color);

  padding-bottom: 30px;
}

.team-image-item {
  margin-bottom: 30px;
}

/* = = = = = Footer = = = = = */

.footer {
  background: #f5f4fa;
  /* align-items: center; */
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  background-color: #2f303a;
}

.footer-contacts-list-wrapper {
  /* display: flex;
  flex-direction: column; */
}

.footer-logo {
  display: block;
  font-family: var(--secondary-font), sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-main-color);
  margin-bottom: 20px;
}

.footer-address > p {
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-main-color);
  margin-bottom: 8px;
}

.footer-address {
  /* display: flex;
  flex-direction: column; */
}

.footer-contact-link {
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact-link:not(:last-child) {
  margin-bottom: 80px;
}

/* = = = = = Interactive section = = = = = */

/* nav interactive section */

.navigator-list-item > a:hover,
.navigator-list-item > a:focus {
  color: var(--interactive-color);
}

.mail-link:hover,
.mail-link:focus {
  color: var(--interactive-color);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--interactive-color);
}

/* Footer interactive section*/

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--secondary-main-color);
}

/* = = = = = PORTFOLIO = = = = =  */

.buttons-list-wrapper button {
  background: var(--secondary-main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.projects-list-wrapper h3 {
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--label-color);
}

.projects-list-wrapper p {
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

/* = = = = = PORTFOLIO Interactive section = = = = = */

.buttons-list-wrapper button:hover,
.buttons-list-wrapper button:focus {
  color: var(--secondary-main-color);
  background-color: var(--interactive-color);
}

button.current {
  background-color: var(--interactive-color);
  color: var(--secondary-main-color);
}
